.languages-block {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.languages-block .block-header {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
}

.languages-block .block-body {
  width: 100%;
  display: flex;
  gap: 3vw;
}

.languages-block .language-block {
  display: flex;
  flex-direction: column;

  gap: 0.5vw;

  max-width: 20vw;
}

.language-block .language-name {
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
}

.language-block .language-level {
  font-family: var(--hind-normal-font-family);
  font-size: var(--hind-normal-font-size);
  font-style: var(--hind-normal-font-style);
  font-weight: var(--hind-normal-font-weight);
  line-height: var(--hind-normal-line-height);

  color: var(--grey-300);
}
