.text-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-block .block-header {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.text-block .block-body {
  font-family: 'Hind';
  font-size: var(--normal-font-size);
  font-weight: 300;
  color: var(--grey);
}

.text-block .block-body p {
  margin-block-start: 0;
  margin-block-end: 0;
}
