@import url('./header.css');
@import url('./text-block.css');
@import url('./career-block.css');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&family=IBM+Plex+Sans:wght@500;700&display=swap');

:root {
  --black: #212121;
  --grey: #7a7a7a;
  --light-grey: #e9e9e9;
  --normal-font-size: 1.2rem;
  --normal-line-height: 1.6rem;
  --h1-font-size: 2.2rem;
  --h2-font-size: 1.8rem;
}

body {
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

hr {
  border: 1px solid var(--light-grey);
  margin-left: 0;
  margin-right: 0;
}
