@import url('./header.css');
@import url('./tab-container.css');
@import url('./blocks/text-block.css');
@import url('./blocks/career-block.css');
@import url('./blocks/educations-block.css');
@import url('./blocks/languages-block.css');
@import url('./blocks/projects-highlights-block.css');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&family=IBM+Plex+Sans:wght@300;500;700&display=swap');

:root {
  /* Colors */
  --black: #212121;
  --grey-100: #e9e9e9;
  --grey-200: #c4c4c4;
  --grey-300: #7a7a7a;

  /* Typography */
  /* Headline 1 */
  --h1-font-family: 'IBM Plex Sans', sans-serif;
  --h1-font-size: 2.4vw;
  --h1-font-style: normal;
  --h1-font-weight: 700;
  --h1-line-height: 2.4vw;

  /* Headline 2 */
  --h2-font-family: 'IBM Plex Sans', sans-serif;
  --h2-font-size: 1.3vw;
  --h2-font-style: normal;
  --h2-font-weight: 700;
  --h2-line-height: 1.3vw;

  /* Headline 3 */
  --h3-font-family: 'IBM Plex Sans', sans-serif;
  --h3-font-size: 1.1vw;
  --h3-font-style: normal;
  --h3-font-weight: 500;
  --h3-line-height: 1.1vw;

  /* Headline 4 */
  --h4-font-family: 'Hind';
  --h4-font-size: 1.3vw;
  --h4-font-style: normal;
  --h4-font-weight: 400;
  --h4-line-height: 1.3vw;

  /* Hind-headline */

  /* IBM-normal */
  --IBM-normal-font-family: 'IBM Plex Sans';
  --IBM-normal-font-size: 1.1vw;
  --IBM-normal-font-style: normal;
  --IBM-normal-font-weight: 300;
  --IBM-normal-line-height: 1.1vw;

  /* Hind-normal */
  --hind-normal-font-family: 'Hind';
  --hind-normal-font-size: 1.1vw;
  --hind-normal-font-style: normal;
  --hind-normal-font-weight: 400;
  --hind-normal-line-height: 1.5vw;

  /* Hind-subnormal */
  --hind-subnormal-font-family: 'Hind';
  --hind-subnormal-font-size: 1vw;
  --hind-subnormal-font-style: normal;
  --hind-subnormal-font-weight: 300;
  --hind-subnormal-line-height: 1.5vw;

  /* Proportions */
  --ratio-left: 20vw;
  --ratio-right: 80vw;
}

body {
  margin: 3vw 0 3vw 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container {
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

hr {
  border: 1px solid var(--grey-100);
  margin-left: 0;
  margin-right: 0;
}
