.tab-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tab-container .tab-navigator {
  display: flex;
  gap: 2rem;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.tab-navigator .tab-active {
}

.tab-navigator .tab {
  cursor: pointer;
  transition: all 1s 0s;
  color: var(--lighter-grey);
}

.tab-navigator .tab:hover {
  color: var(--black);
}

.tab-container .tab-content * {
  animation: animate-fade 0.5s;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
