.tab-container {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.tab-container .tab-navigator {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);

  display: flex;
  gap: 2vw;
}

.tab-navigator .tab-active {
}

.tab-navigator .tab {
  cursor: pointer;
  transition: all 1s 0s;
  color: var(--grey-200);
}

.tab-navigator .tab:hover {
  color: var(--black);
}

.tab-container .tab-content * {
  animation: animate-fade 0.5s;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
